.contractForm {
    margin: 2em 0;
    background-color: #222;
    color: #fff;
    padding: 2em;
    border-radius: 8px;
  }
  
  
  .input {
    display: block;
    margin-bottom: 1em;
    padding: 0.5em;
    width: 100%;
    background-color: #333;
    border: 1px solid #444;
    color: #fff;
    border-radius: 4px;
  }
  
  .textarea {
    display: block;
    margin-bottom: 1em;
    padding: 0.5em;
    width: 100%;
    background-color: #333;
    border: 1px solid #444;
    color: #fff;
    border-radius: 4px;
  }
  
  .button {
    padding: 0.5em 1em;
    background-color: #1e90ff;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #007acc;
  }
  